Web2SMS_App-Parent/Web2SMS_App_Service/src/main/resource/META-INF/wsdl/models2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<xsd:schema xmlns:ns0="http://www.edafa.com/web2sms/service/model/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.edafa.com/web2sms/service/model/">
	<xsd:complexType name="ContactModel">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string"
				minOccurs="0" nillable="true" />
			<xsd:element name="lastName" type="xsd:string" minOccurs="0"
				nillable="true" />
			<xsd:element name="msisdn" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactListModel">
		<xsd:sequence>
			<xsd:element name="listInfo" type="ns0:ContactListInfoModel"
				minOccurs="0" />
			<xsd:element name="listContacts" type="ns0:ContactModel"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserModel">
		<xsd:sequence>
			<xsd:element name="username" type="xsd:string" />
			<xsd:element name="accountId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactListInfoModel">
		<xsd:sequence>
			<xsd:element name="listId" type="xsd:int" nillable="true" />
			<xsd:element name="listName" type="xsd:string" />
			<xsd:element name="description" type="xsd:string"
				nillable="true" />
			<xsd:element name="tempList" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>