Web2SMS_Prov_Service-Parent/Web2SMS_Prov_Service_Web/src/main/webapp/WEB-INF/wsdls/Web2SMSTIBCOProvisioingService_v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<definitions targetNamespace="http://www.edafa.com/web2sms/prov/TIBCO"
	name="Web2SMSTIBCOProvisioingService" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://www.edafa.com/web2sms/prov/TIBCO"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.edafa.com/web2sms/prov/TIBCO"
				schemaLocation="Web2SMSTIBCOProvisioingService_v1.xsd" />
		</xsd:schema>
	</types>
	<message name="confirmSenderNameChange">
		<part name="request" element="tns:confirmSenderNameChangeRequest" />
	</message>
	<message name="confirmSenderNameChangeResponse">
		<part name="provStatus" element="tns:confirmSenderNameChangeResponse" />
	</message>
	<message name="activateService">
		<part name="request" element="tns:activateServiceRequest" />
	</message>
	<message name="activateServiceResponse">
		<part name="provStatus" element="tns:activateServiceResponse" />
	</message>
	<message name="cancelProvRequest">
		<part name="request" element="tns:cancelProvRequestRequest" />
	</message>
	<message name="cancelProvRequestResponse">
		<part name="provStatus" element="tns:cancelProvRequestResponse" />
	</message>
	<message name="upgradeService">
		<part name="request" element="tns:upgradeServiceRequest" />
	</message>
	<message name="upgradeServiceResponse">
		<part name="provStatus" element="tns:upgradeServiceResponse" />
	</message>
	<message name="downgradeService">
		<part name="request" element="tns:downgradeServiceRequest" />
	</message>
	<message name="downgradeServiceResponse">
		<part name="provStatus" element="tns:downgradeServiceResponse" />
	</message>
	<message name="changeSenderName">
		<part name="request" element="tns:changeSenderNameRequest" />
	</message>
	<message name="changeSenderNameResponse">
		<part name="provStatus" element="tns:changeSenderNameResponse" />
	</message>
	<message name="getAccountInfo">
		<part name="request" element="tns:getAccountInfoRequest" />
	</message>
	<message name="getAccountInfoResponse">
		<part name="accountInfo" element="tns:getAccountInfoResponse" />
	</message>
	<message name="deactivateService">
		<part name="request" element="tns:deactivateServiceRequest" />
	</message>
	<message name="deactivateServiceResponse">
		<part name="provStatus" element="tns:deactivateServiceResponse" />
	</message>
	<portType name="Web2SMSTIBCOProvisioning">
		<operation name="confirmSenderNameChange">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/confirmSenderNameChangeRequest"
				message="tns:confirmSenderNameChange" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/confirmSenderNameChangeResponse"
				message="tns:confirmSenderNameChangeResponse" />
		</operation>
		<operation name="activateService">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/activateServiceRequest"
				message="tns:activateService" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/activateServiceResponse"
				message="tns:activateServiceResponse" />
		</operation>
		<operation name="cancelProvRequest">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/cancelProvRequestRequest"
				message="tns:cancelProvRequest" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/cancelProvRequestResponse"
				message="tns:cancelProvRequestResponse" />
		</operation>
		<operation name="upgradeService">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/upgradeServiceRequest"
				message="tns:upgradeService" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/upgradeServiceResponse"
				message="tns:upgradeServiceResponse" />
		</operation>
		<operation name="downgradeService">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/downgradeServiceRequest"
				message="tns:downgradeService" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/downgradeServiceResponse"
				message="tns:downgradeServiceResponse" />
		</operation>
		<operation name="changeSenderName">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/changeSenderNameRequest"
				message="tns:changeSenderName" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/changeSenderNameResponse"
				message="tns:changeSenderNameResponse" />
		</operation>
		<operation name="getAccountInfo">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/getAccountInfoRequest"
				message="tns:getAccountInfo" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/getAccountInfoResponse"
				message="tns:getAccountInfoResponse" />
		</operation>
		<operation name="deactivateService">
			<input
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/deactivateServiceRequest"
				message="tns:deactivateService" />
			<output
				wsam:Action="http://www.edafa.com/web2sms/prov/TIBCO/Web2SMSTIBCOProvisioning/deactivateServiceResponse"
				message="tns:deactivateServiceResponse" />
		</operation>
	</portType>
	<binding name="Web2SMSTIBCOProvisioingPortBinding" type="tns:Web2SMSTIBCOProvisioning">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="confirmSenderNameChange">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="activateService">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cancelProvRequest">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="upgradeService">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="downgradeService">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="changeSenderName">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAccountInfo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deactivateService">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="Web2SMSTIBCOProvisioingService">
		<port name="Web2SMSTIBCOProvisioingPort" binding="tns:Web2SMSTIBCOProvisioingPortBinding">
			<soap:address
				location="http://localhost:7101/Web2SMS-App_Provisioning/Web2SMSTIBCOProvisioingService" />
		</port>
	</service>
</definitions>

