Web2SMS_Prov_Service-Parent/Web2SMS_Prov_Service_Web/src/main/webapp/WEB-INF/wsdls/Web2SMSTIBCOProvisioingService1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://www.edafa.com/web2sms/prov/TIBCO" xmlns:ns0="http://www.edafa.com/web2sms/prov/TIBCO" xmlns:ns1="http://www.edafa.com/web2sms/prov/enums/" xmlns:ns2="http://www.edafa.com/web2sms/service/model/enums/" xmlns:ns3="http://www.edafa.com/web2sms/service/model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.edafa.com/web2sms/prov/enums/" schemaLocation="Web2SMSTIBCOProvisioingService2.xsd"/>
  <xsd:import namespace="http://www.edafa.com/web2sms/service/model/enums/" schemaLocation="Web2SMSTIBCOProvisioingService3.xsd"/>
  <xsd:import namespace="http://www.edafa.com/web2sms/service/model/" schemaLocation="Web2SMSTIBCOProvisioingService4.xsd"/>
  <xsd:complexType name="changeSenderNameResponse">
    <xsd:sequence>
      <xsd:element name="returnStatus" type="ns0:provisioningStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="confirmSenderNameChangeResponse">
    <xsd:sequence>
      <xsd:element name="returnStatus" type="ns0:provisioningStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="accountInfo">
    <xsd:complexContent>
      <xsd:extension base="ns0:provisioningStatus">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="accountId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="AccountStatus" type="ns2:AccountStatus"/>
          <xsd:element minOccurs="0" name="companyName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="accountAdmin" type="xsd:string"/>
          <xsd:element minOccurs="0" name="billingMsisdn" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Tier" type="ns3:Tier"/>
          <xsd:element minOccurs="0" name="senderName" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="pendingRequests" type="ns0:PendingProvRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="confirmSenderNameChangeRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:provisioningRequest">
        <xsd:sequence>
          <xsd:element name="newSenderName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PendingProvRequest">
    <xsd:sequence>
      <xsd:element name="requestId" type="xsd:string"/>
      <xsd:element name="requstType" type="ns1:ProvRequestType"/>
      <xsd:element name="companyId" type="xsd:string"/>
      <xsd:element name="companyName" type="xsd:string"/>
      <xsd:element name="companyAdmin" type="xsd:string"/>
      <xsd:element name="requestTimestamp" type="xsd:dateTime"/>
      <xsd:element name="rateplan" nillable="true" type="xsd:string"/>
      <xsd:element name="senderName" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="downgradeServiceResponse">
    <xsd:sequence>
      <xsd:element name="returnStatus" type="ns0:provisioningStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="upgradeServiceRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:provisioningRequest">
        <xsd:sequence>
          <xsd:element name="oldRatePlan" nillable="true" type="xsd:string"/>
          <xsd:element name="newRatePlan" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="downgradeServiceRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:provisioningRequest">
        <xsd:sequence>
          <xsd:element name="oldRatePlan" nillable="true" type="xsd:string"/>
          <xsd:element name="newRatePlan" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="cancelProvRequestResponse">
    <xsd:sequence>
      <xsd:element name="returnStatus" type="ns0:provisioningStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="changeSenderNameRequest">
    <xsd:sequence>
      <xsd:element name="accountHolderId" type="xsd:string"/>
      <xsd:element name="oldSenderName" nillable="true" type="xsd:string"/>
      <xsd:element name="newSenderName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deactivateServiceRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:provisioningRequest">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getAccountInfoResponse">
    <xsd:sequence>
      <xsd:element name="accountInfo" type="ns0:accountInfo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="activateServiceRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:provisioningRequest">
        <xsd:sequence>
          <xsd:element name="billingMSISDN" type="xsd:string"/>
          <xsd:element name="ratePlan" type="xsd:string"/>
          <xsd:element name="senderName" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="upgradeServiceResponse">
    <xsd:sequence>
      <xsd:element name="returnStatus" type="ns0:provisioningStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="provisioningRequest">
    <xsd:sequence>
      <xsd:element name="requestId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cancelProvRequest">
    <xsd:complexContent>
      <xsd:extension base="ns0:provisioningRequest">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="provisioningStatus">
    <xsd:sequence>
      <xsd:element name="status" type="ns1:ProvResponseStatus"/>
      <xsd:element name="errorMessage" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deactivateServiceResponse">
    <xsd:sequence>
      <xsd:element name="returnStatus" type="ns0:provisioningStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAccountInfoRequest">
    <xsd:sequence>
      <xsd:element name="accountHolderId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="activateServiceResponse">
    <xsd:sequence>
      <xsd:element name="returnStatus" type="ns0:provisioningStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="changeSenderNameResponse" type="ns0:changeSenderNameResponse"/>
  <xsd:element name="confirmSenderNameChangeResponse" type="ns0:confirmSenderNameChangeResponse"/>
  <xsd:element name="accountInfo" type="ns0:accountInfo"/>
  <xsd:element name="confirmSenderNameChangeRequest" type="ns0:confirmSenderNameChangeRequest"/>
  <xsd:element name="cancelProvRequestRequest" type="ns0:cancelProvRequest"/>
  <xsd:element name="downgradeServiceRequest" type="ns0:downgradeServiceRequest"/>
  <xsd:element name="downgradeServiceResponse" type="ns0:downgradeServiceResponse"/>
  <xsd:element name="upgradeServiceRequest" type="ns0:upgradeServiceRequest"/>
  <xsd:element name="cancelProvRequestResponse" type="ns0:cancelProvRequestResponse"/>
  <xsd:element name="changeSenderNameRequest" type="ns0:changeSenderNameRequest"/>
  <xsd:element name="deactivateServiceRequest" type="ns0:deactivateServiceRequest"/>
  <xsd:element name="getAccountInfoResponse" type="ns0:getAccountInfoResponse"/>
  <xsd:element name="activateServiceRequest" type="ns0:activateServiceRequest"/>
  <xsd:element name="upgradeServiceResponse" type="ns0:upgradeServiceResponse"/>
  <xsd:element name="provisioningRequest" type="ns0:provisioningRequest"/>
  <xsd:element name="deactivateServiceResponse" type="ns0:deactivateServiceResponse"/>
  <xsd:element name="provisioningStatus" type="ns0:provisioningStatus"/>
  <xsd:element name="getAccountInfoRequest" type="ns0:getAccountInfoRequest"/>
  <xsd:element name="activateServiceResponse" type="ns0:activateServiceResponse"/>
</xsd:schema>