Web2SMS_Prov-Parent/Web2SMS_Prov_Main/src/main/webapp/WSDL/GenericProduct_CallBack.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ns0="http://prov-callback.eagle.vodafone.com.eg"
	targetNamespace="http://prov-callback.eagle.vodafone.com.eg" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:complexType name="ProvisioningStatusUpdate">
		<xs:sequence>
			<xs:element name="ProvisioningID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="36" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SUCCEDED" />
						<xs:enumeration value="FAILED_NOT_ENOUGH_STORAGE" />
						<xs:enumeration value="FAILED_GENERIC_ERROR" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ErrorMessage" minOccurs="0" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ProvisioningStatusUpdate" type="ns0:ProvisioningStatusUpdate" />

</xs:schema>